@import "src/components/pages/Main/style.module";

.logoName {
  position: relative;
  left: 4%;
  top: 11%;
}

.langContainer {
  position: relative;
  top: 0;
  left: 15%;
}

.langText {
  margin-top: 2px;
  @include font(14px, 17px, 600, #ffffff);
}

.dropdownIcon {
  position: relative;
  bottom: 35px;
  left: 20px;
}

.text {
  position: relative;
  left: 5%;
  top: 5%;
  @include font(14px, 24px, 500, #82949f);
  text-decoration-line: underline;
}

.containerSocial {
  position: relative;
  right: 14%;
}

.instaIcon {
  @include position(0, 1210px);
}

.telegIcon {
  @include position(0, 1174px);
}

.vkIcon {
  @include position(0, 1138px);
}

.fbIcon {
  @include position(0, 1102px);
}

.communityContainer {
  position: relative;
  right: 55%;
  bottom: 30%;
}

.communityText {
  @include position(-15px, 150px);
  @include font(18px, 22px, 500, #ffffff);
}
.communityPoints {
  position: absolute;
  right: 60%;
  top: 30px;
  left: 85%;
  @include font(12px, 20px, 500, #82949f);
  text-decoration-line: underline;
}

.aboutContainer {
  position: relative;
  left: 50%;
  bottom: 30%;
}

.aboutText {
  @include font(18px, 22px, 500, #ffffff);
}

.breakPoint {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 76.3%;
  bottom: 22.54%;
  border: 0.5px solid #8494a1;
}

.text1 {
  @include position(283px, 650px);
  @include font(14px, 24px, 500, #82949f);
}
